@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300&display=swap");
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

div {
  outline: 0px solid hotpink; }

.ratio {
  transform: scaleY(-1);
  position: absolute;
  width: 100%; }

img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain; }

.landpage {
  background-color: #3A6EA5;
  padding-top: 1vw;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: -2; }

.headline {
  position: relative;
  width: 62vw;
  z-index: 1; }

.headline-text {
  background-color: #9B287B;
  font-family: "Bebas Neue", cursive;
  font-size: 4vw;
  text-align: center;
  color: #F4FFF8;
  width: 90%;
  margin-left: auto;
  z-index: 1; }

.middleline {
  width: 85%;
  margin-left: auto; }

.middleline-text {
  font-size: 1.25rem;
  font-family: "Comfortaa", cursive;
  color: #F4FFF8; }

.polias {
  position: relative;
  width: 100%;
  display: flex; }

.polia-headline1 {
  margin-left: 55%; }

.polia-headline2 {
  margin-left: 25%; }

.headline-rope {
  position: absolute;
  background-color: black;
  margin-top: -5vh;
  margin-left: 56%;
  width: 0.6%;
  height: 20vw;
  z-index: -1; }

.diagonal-rope {
  position: absolute;
  background-color: black;
  margin-top: -5vh;
  margin-left: 99%;
  width: 0.5%;
  height: 100%;
  z-index: -1; }

.polias-rope {
  transform: rotate(270deg);
  position: absolute;
  background-color: black;
  margin-top: -16%;
  margin-left: 77.5%;
  width: 0.5%;
  height: 22vw;
  z-index: -1; }

.gear-headline {
  position: relative;
  width: 15%;
  margin-left: 47%;
  margin-top: -7.5%;
  z-index: 3; }

.gear-button {
  width: 100%; }

.div-button {
  width: 10%;
  margin-left: auto;
  margin-right: 1%;
  float: right; }

.button-rope {
  background-color: black;
  width: 2%;
  height: 80%;
  margin-top: -55%;
  margin-bottom: -10%;
  z-index: 1; }

.cta-button {
  background-color: #9B287B;
  border: none;
  color: #F4FFF8;
  font-family: "Bebas Neue", cursive;
  font-size: 2vw;
  width: 120%;
  height: 10%;
  margin-left: -60%; }

.skills {
  height: 100vh; }

@media (max-width: 798px) {
  .landpage {
    flex-direction: column; }
  .headline {
    width: 100%; }
  .headline-text {
    margin-inline: auto;
    font-size: 1.5rem; }
  .div-button {
    width: 100vw;
    margin-left: auto;
    float: none; } }
